{%extends "registration/base.html"%} {% load bootstrap4 %}
{% block content %}
<section class="content-section video-section">
        <div class="pattern-overlay">
        <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=42uOCnazJFY',containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:1}">bg</a>
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
              <h1>DISCOVER MODELS OR BE DISCOVERED</h1>  
              <h3>THE EASIER WAY TO FIND MODELS</h3>
             </div>
             <div class="model">
                 <a href="{%url 'casting'%}">
                 <span style="font-size: 20px;" class="label warning">LOOKING FOR MODELS JOBS</span>
                 </a>
             </div><hr><hr>
             <div class="client">
                 <a href="{%url 'model'%}">
                    <span style="font-size: 20px;"class="label warning">LOOKING FOR MODELS</span>
                </a>
             </div>
            </div>
          </div>
        </div>
      </section>
      
{% endblock %}