{%extends "agency/base.html"%}
{% load bootstrap4 %}
{% block content %}
{{block.super}}
{%for casting in castings%}
<div class="container">
    <div class="row">
        <div class="column-33">
            <img class="casting"src="{{casting.image.url}}" alt="">

        </div>
        <div class="column-66">
            <h1>{{casting.client.occupation}}</h1>
            <h1>{{casting.Title}}</h1>
            <p>{{casting.details}}</p>

        </div>


    </div>
    <div>
        <button>APPLY NOW</button>
    </div>

</div>
{% endfor %}

{% endblock %}
